@charset "UTF-8";

* {
    margin: 0;
    padding: 0;
}

body {
    background-color: grey;
    

    
}

header {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    padding: 24px;
    border-bottom: 0.4px solid white;

}

header img {
    height: 300px;
    width: 300px;
}

header nav {
    display: flex;
    gap: 32px;
}

header a {
    color: white;
    font-weight: 400;
    font-size: 18px;
    text-decoration: none;
}

main img {
    height: 150px;
    width: 150px;
} 

.container {
    display: flex;
    flex-direction: row;
    justify-content: center; 
}

.container2 {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

main div {
    background-color: white;
    width: 150px;
    height: 200px;
    padding: 2em;
    text-align: center;
    margin: 20px;
}


footer {
    margin-top: 20px;
    border-top: 2px solid white;
    color: white;
    text-align: center;
    padding: 20px;
}