@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Kdam+Thmor+Pro&display=swap');

* {
    margin: 0;
    padding: 0;
    text-decoration: none;
}



.menu {
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 10px;
    border-bottom: 1px solid white;
    height: 170px;
    background: conic-gradient(from 89.3deg at 50% 55.99%, rgba(8, 7, 7, 0.980076) -9.69deg, #070707 37.14deg, #7C6203 181.91deg, #181817 311.28deg, rgba(8, 7, 7, 0.980076) 350.31deg, #070707 397.14deg);

}

header img {
    display: flex;
    height: 200px;
    width: 200px;
}

header nav {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

header a {
    font-family: 'Kdam Thmor Pro', sans-serif;
    color: #b9ab28;
    text-transform: uppercase;
    font-size: 1em;
    padding: 2px;
    text-align: center;   
}

main {
    background-image: url("construir-valores/imagens/grafico.jpg");
    background-size: cover;
    background-position: top;
    background-repeat: no-repeat;
    background-attachment: fixed; 
}

.container {
    display: flex;
    flex-wrap: wrap;

    max-width: 1300px;
    background-color: rgba(0, 0, 0, 0.705);
    margin: auto;
    border-radius: 5px;
    color: black;
}

.anuncio {
    flex: 1;

    background-color: white;
    min-width: 290px;
    height: 300px;
    padding: 10px;
    margin: 10px;
    border-radius: 5px;
    box-shadow: 1px 1px 2px rgba(128, 128, 128, 0.411);     
}

.anuncio img {
    height: 150px;
    width: 150px;
}

footer {
    background-color: black;
    
    border-top: 1px solid white;
    color: white;
    text-align: center;
    padding: 20px;
}